div.App{
  height: auto;
  margin-left: 50px;
  margin-top: 100px;
}

h1#marco{
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 0px;
  background-color: bisque;
}
div#columna{
    width: 40px;
    background: rgb(255, 151, 151);
    float: left;
    text-align: center;
    
}
#grid{
  width: 400px;
}
#numeros{
  height: 40px;
  margin: 0px;
  
}
div#numeros h1{
  margin: 0px;
}